/* !!!!!!!!!!!!!!!!!!!!!!!!!!!


RACINE


!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* je commence par calibrer ma page pour éviter tout comportement indésirable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}


/*
<uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/*
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/



:root {
    --marron: #c59d5f;
    --blanc: #ffffff;
    --noir: #000000;
    --gris: #b3b3b3;
    --taille1 : 60px;
    --taille2 : 48px;
    --taille3 : 36px;
    --taille4 : 24px;
    --taille5 : 16px;
    --taille6 : 12px;
    --taille7 : 18px;
  }



/* je veux que le conteneur 'container' traite les objets header, main et footer en affichage colonne, centré le long de l'axe principal et centré le long de l'axe secondaire */
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw; /* on occupe toute la largeur de l'écran */
}






/* !!!!!!!!!!!!!!!!!!!!!!!!!!!


HEADER


!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



/* je veux que le conteneur 'header' traite les objets nav et #biglogo en affichage colonne, centré le long de l'axe principal et centré le long de l'axe secondaire */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url("../img/h5-revolution-img-1.jpg");
    background-size: cover; /* pour que l'image ne soit pas répétée mais occupe tout l'espace, quitte à se rogner par endroit */
    width: 100vw; /* pourquoi devoir le préciser à nouveau ? */
}



/* je veux que le conteneur 'nav' traite les objets #revolver, #menu et #reseaux en affichage ligne, en space-between le long de l'axe principal et centré le long de l'axe secondaire */
/* je ferai en sorte que #revolver et #reseaux occupent 25% de la largeur chacun et #menu occupe 50% de la largeur */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh; /* la barre de navigation doit prendre 10% de la hauteur de l'écran, le logo occupera les 90% restants */
    /* background-color: var(--black); */
    background: rgb(0 0 0 / 40%);
    position: fixed; /* pour avoir une position de navbar fixe -> elle reste visible et en haut de la page, pdt le défilement de la page */

}



#revolver {
    color: var(--blanc);
    padding: 40px; /* on veut espacer le bloc revolver du bord de gauche -> revolver est un élément de la navbar */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--taille3);
}



#revolver:hover {
    color: var(--marron)
}



/* je veux que le conteneur '#menu' traite les objets home, tradition, service, menu et contact en affichage ligne, centré le long de l'axe principal et centré le long de l'axe secondaire */
#meunu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style-type:none; /* pour enlever les ronds des listes à puce */
}



#meunu a {
    padding: 30px; /* on veut espacer les éléments 'a' de meunu */
    color: var(--blanc);
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--taille4);
}



#meunu a:hover {
    color: var(--marron);
}




/* je veux que le conteneur '#reseaux' traite les objets twitter, fb et instagram en affichage ligne, en flex-end le long de l'axe principal et centré le long de l'axe secondaire */
#reseaux > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style-type:none; /* pour enlever les ronds des listes à puce */
    padding: 40px; /* utile pour donner de l'espace au bloc composé des 3 icons de réseaux sociaux, par rapport au bord droit */
}



#reseaux a {
    padding: 20px; /* on veut espacer les éléments 'a' de reseaux -> nos 3 petits icons */
    color: var(--blanc);
    text-decoration: none;
}



#reseaux a:hover {
    color: var(--marron);
}


/* la taille des logos n'est pas satisfaisante sans cette portion*/
#reseaux i {
    font-size: 30px; /* l'icone est considéré comme du texte -> cette propriété fonctionne donc correctement */
}





#biglogo img {
    height: 90vh; /* le logo doit prendre 90% de la hauteur de l'écran -> influe sur la taille de l'icone marron*/
    /* object-fit: cover; ne sert strictement à rien ici */ 
    padding-top: 16vh;  /* influe sur l'espace entre l'icone marron et la navbar */
}








/* !!!!!!!!!!!!!!!!!!!!!!!!!!!


MAIN


!!!!!!!!!!!!!!!!!!!!!!!!!!!! */




/* la partie principale sera affichée en colonnes */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw; /* on occupe toute la largeur de l'écran */
}



#bandeau {
    width: 100vw;
    height: 30vh;
    background-color: var(--marron);
    color: var(--blanc);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10vh; /* on veut avoir un tiers de marge en haut et en bas et un tiers de zone textuelle */

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    font-size: var(--taille1);
    text-align: justify;

     

    line-height: 1em; /* pour gérer l'espace entre chaque ligne d'un paragraphe -> vers 0, les lignes se superposent, vers 1, l'espace est faible, vers des gros chiffres, l'esace augmente fortement */
}


/* on gère le conteneur qui contient une zone texte et une zone illustrative */
.contenu {
    width: 100 vw;
    height: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}




/* on gère la zone descriptive du contenu principal class='contenu' */

.description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vw;
}


.description h1 {
    color: var(--noir);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: var(--taille1);
}


.description h2 {
    color: var(--noir);
    font-family: 'Times New Roman', Times, sans-serif; /* je n'importe rien, cette police de caractère est déjà intégrée à mon éditeur de code */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: var(--taille4);
}


.description p {
    color: var(--gris);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    font-size: var(--taille7);
    text-align: center;
}


.description .bouton {
    color: var(--blanc);
    background-color: var(--marron);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: var(--taille4);
}




/* on gère la zone image du contenu principal class='contenu' */

.illustration {
    width: 50vw;
    height: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#tireuse {
    background-image: url(../img/h5-el-holder-img-1-1.jpg);
    background-size: cover;
}

#clients {
    background-image: url(../img/h5-el-holder-img-2.jpg);
    background-size: cover;
}

/* pareil que #biglogo img sauf que je n'ai pas besoin de padding car je centre le logo sur l'image */
#tireuse img {
    height: 65%; /* le logo doit prendre 65% de la hauteur du conteneur parent */
    /* padding: 20px; */
}

/* pareil que #biglogo img sauf que je n'ai pas besoin de padding car je centre le logo sur l'image */
 #clients img {
    height: 65%; /* le logo doit prendre 65% de la hauteur du conteneur parent */
    /* padding: 20px; */
}



#galerie {
    width: 100vw;
    height: 25vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}



.gal {
    width: 25%;
    height: 100%;
}

.gal img {
    width: 100%; /* nécessaires pour que l'image épouse bien tout le conteneur */
    height: 100%; /* pareil que ligne au dessus */
     object-fit: cover;
}


/*
.gal:hover {
    background-color: var(--marron);
    background-size: cover;
    {}
}
*/

/*
.gal > img:hover {
    display: none;
}
*/



#services {
    width: 100vw;
    height: 12vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.carte {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


.ikon {
    padding: 20px;
}


.ikon:hover {
    background-color: var(--marron);
    border-radius: 50%;
}


.ikon:hover + h3 { /* pour cibler le <h3> qui suit directement .ikon quand .ikon est survolé */
    color: var(--marron); /* Le texte du titre devient marron */
}

/*

.ikon:hover -> quand la souris passe sur l'élément ayant la classe ikon.
+ h3 (sélecteur CSS adjacent) -> appliquer le style au premier élément <h3> qui vient juste après l'élément .ikon dans le HTML.
!!! Ce sélecteur fonctionne uniquement si <h3> est directement après .ikon dans la structure HTML, sans aucun autre élément entre les deux. !!!

*/



.carte h3 {
    color: var(--noir);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: var(--taille4);
}

.carte p {
    color: var(--gris);
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
    font-size: var(--taille7);
    text-align: center;
}



#paralaxe {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-image: url(../img/h5-parallax-img-2.jpg);
    background-size: cover;
}


#paralaxe h1 {
    color: var(--blanc);
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: var(--taille1);
}


#paralaxe p {
    color: var(--blanc);
    font-family: 'Times New Roman', Times, sans-serif; /* je n'importe rien, cette police de caractère est déjà intégrée à mon éditeur de code */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: var(--taille4);
}








/* !!!!!!!!!!!!!!!!!!!!!!!!!!!


FOOTER


!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: var(--noir);
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vh;

}

.footer img {
    object-fit: cover;
}


